<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www/thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <block th:include="fragments/extra-fragment::style"></block>
</head>
<body>
    <div class="container">
        <div th:replace="fragments/structure_nav::header"></div>
        <div th:replace="CategoryOutputData::body"></div>
<!--        <div th:if="${totalLimit}==-1}"></div>-->
        <div th:if="${totalLimit}> 0}" th:replace="fragments/structure_nav::pagination-category"></div>
        <div th:replace="fragments/structure_nav::footer"></div>
    </div>
    <div th:replace="fragments/modal::set-page-modal"></div>

    <block th:include="fragments/extra-fragment::script"></block>
</body>
</html>